:root {
	--menu-height: 24px;
}
html {
	height: 100%;
}
body {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 20px;
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
	padding-bottom: var(--menu-height);
	margin: 0;
	-webkit-text-size-adjust: 100%;
}
#page {
	overflow: auto;
	box-sizing: border-box;
	height: 100%;
	padding: 10px;
}
.hide-hidden .hidden {
	display: none;
}
.show-hidden .hidden {
	display: initial;
}

a {
	color: #6090FF;
}



#game-region {
	display: flex;
	flex-wrap: wrap;
}
#display-bg {
	border-top: 1px solid #303030;
	border-left: 1px solid #303030;
	padding: 0px;
    background-image: linear-gradient(to left, #303030 1px, transparent 1px), linear-gradient(to top, #303030 1px, transparent 1px);
    margin-right: 30px;
}
#display {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}
#info {
	width: 240px;
	min-width: 240px;
	max-width: 240px;
}
#message {
	font-size: 32px;
}
#stats {
	display: none;
	flex-direction: column;
}
.stat-name {
	margin-right: 10px;
}
#controls {
	margin-top: 20px;
	display: none;
	justify-content: space-between;
}
.mobile #controls {
	display: flex;
}
.control-button {
	width: 48%;
	font-size: 40vw;
	text-align: center;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	touch-action: none;
	border-radius: 0;
	-webkit-appearance: none;
	background-color: #888888;
	touch-action: manipulation;
}
.mobile #stuck {
	font-size: 9vw;
}





#start-page {
    display: inline-block;
}

.centered {
	text-align: center;
}
.not-centered {
	text-align: initial;
}

#title {
	margin-bottom: 30px;
}
#main-title {
	color: #A00000;
	font-size: 72px;
}
#sub-title {
	color: #A00000;
	font-size: 36px;
	margin-bottom: 16px;
}
#play-link {
	font-size: 40px;
}
#play-p {
	color: #808090;
}
#reset-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
}
#reset-note {
	color: #808090;
}

#records {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
}
#record-heading {
	font-size: 32px;
	margin-bottom: 8px;
}
#cheevo-heading {
	font-size: 32px;
	margin-bottom: 8px;
}
.cheevo-item {
	display: flex;
	margin-bottom: 4px;
}
.cheevo-text {
	display: flex;
	flex-direction: column;
}
.cheevo-check-box {
	margin-right: 8px;
}
.cheevo-name {
	font-size: 24px;
}
.cheevo-desc {
	font-size: 18px;
	color: #9090A0;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: var(--menu-height);
	color: #808080;
	font-size: 16px;
}

/* This cutoff needs major experimenting and adjustment, but hey, it works for /my/ phone. */
@media only screen and (max-width: 992px) {
	:root {
		--menu-height: 4vw;
	}
	footer {
		font-size: 3vw;
	}
    body {
        font-size: 5vw;
    }
	#title {
		margin-bottom: 6vw;
	}
	#main-title {
		font-size: 18vw;
	}
	#sub-title {
		font-size: 8vw;
		margin-bottom: 4vw;
	}
	#play-link {
		font-size: 10vw;
	}
	#reset-box {
		margin-bottom: 8vw;
	}

	#records {
		margin-bottom: 8vw;
	}
	#record-heading {
		font-size: 8vw;
		margin-bottom: 2vw;
	}
	#cheevo-heading {
		font-size: 8vw;
		margin-bottom: 2vw;
	}
	.cheevo-item {
		margin-bottom: 1vw;
	}
	.cheevo-check-box {
		margin-right: 2vw;
	}
	.cheevo-name {
		font-size: 6vw;
	}
	.cheevo-desc {
		font-size: 4.5vw;
	}
}